.form-wrapper {
  & .raffle {
    & h2 {
      font: var(--label-lg);
      color: var(--content-primary);
      text-transform: uppercase;
    }
    & p {
      font: var(--paragraph-md);
      margin-top: 2px;
    }
  }
}

@media (width >=80rem) {
  .form-wrapper {
    margin-top: 3.5rem;

    & .raffle {
      & p {
      font: var(--paragraph-lg);
    }
    }
  }
}