header.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2.875rem;

  & img {
    width: 10.75rem;
    height: auto;
  }
}

@media (width >= 80rem) {
  header.logo {
    justify-content: start;
    padding-block: 2.875rem 5.5625rem;
  }
}