#app {
	display: grid;

	& .header-app {
    margin-bottom: 2.625rem;

		& header {
			& span {
				font: var(--overline);
				text-transform: uppercase;
				background: linear-gradient(to right, #c7c9cc 0%, #3d3d3d 150%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}

      & h1 {
        font: var(--display-md);
        color: var(--content-primary);
        text-transform: uppercase;

        margin-top: .5rem;
      }
		}
	}

  & .items-form{
    width: 100%;

    & form {
      width: 100%;

      & h2 {
        font: var(--label-md);
        text-transform: uppercase;
        color: var(--content-primary);
      }

      & p {
        font: var(--paragraph-md);
        color: var(--content-tertiary);
      }
    }
  }
}


@media (width >= 80rem) {
  #app {
    display: grid;
    grid-template-columns: 32rem 1fr;
    column-gap: 6.75rem;

    & .header-app {
      margin-bottom: 2.375rem;

      & header {
        & h1 {
          font: var(--display-lg);

          margin-top: .75rem;
        }
      }
    }
  }
}