.btn {
  display: flex;
  position: relative;
  column-gap: .5rem;
  align-items: center;
  justify-content: center;
  background: var(--bg-tertiary);
  padding: 1rem 6.71875rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  border-radius: .5rem;

  font: var(--label-md);
  color: var(--content-primary);
  text-transform: uppercase;
  transition: all 400ms ease-in-out;

  margin-bottom: 5rem;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    #77C0AF 0%,
    #D1DC97 14.84%,
    #E9A9B3 32.15%,
    #D586E0 65.79%,
    #91A1FA 84.58%
  );
  background-size: 300% 300%;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:hover::before {
  opacity: 1;
  animation: gradientMove 3s ease forwards;
}

.btn:hover {
  animation: backgroundChange 3s ease forwards
}

.btn:hover img {
  animation: arrowMove 3s ease forwards;
}

@keyframes arrowMove {
  0% { transform: translateX(0); }
  50% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; opacity: 1; }
  80% { background-position: 100% 50%; opacity: 1; }
  100% { background-position: 0% 50%; opacity: 0; }
}

@keyframes backgroundChange {
  0% { background: var(--bg-secondary); }
  90% { background: var(--bg-secondary); }
  100% { background: var(--bg-tertiary); }
}


@media (width >=80rem) {
  .btn {
    padding: 1rem 11.8125rem;
  }
}