.result {
  & header {
    display: grid;
    justify-content: center;
    text-align: center;
    & h2 {
      font: var(--label-lg);
      text-transform: uppercase;
      color: var(--content-primary);
    }

    & p {
      font: var(--overline);
      text-transform: uppercase;
    }
  }
}

#form-repeat {
  display: grid;
  justify-content: center;
  & .result-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4rem;

    & div {
      display: flex;
      justify-content: center;

      & span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 6rem;
        height: 6rem;

        & .number-result {
          font: 700 3rem/1.5 var(--ff-roboto-mono);
          color: var(--bg-secondary);
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          transform-origin: center center;
          transform: translate(-50%, -50%);
          z-index: 1;
          animation: fadeIn 3s 1s ease forwards;
        }

        & .wrapper-bg {
          position: absolute;
          z-index: 0;
          top: 50%;
          left: 50%;
          transform-origin: center center;
          transform: translate(-50%, -50%);
        }

        & .bg-result {
          width: 5.25rem;
          height: 5.25rem;
          background: var(--content-brand);
          border-radius: 1.75rem;

          animation: spin 4s ease forwards;
        }
      }
    }
  }
}

@keyframes spin {
  0% { scale: 0.5; opacity: 0;}
  10% { scale: 1; opacity: 1;}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(240deg);}
  80% { scale: 1; transform: rotate(300deg); opacity: 1;}
  100% { scale: 0; transform: rotate(450deg); opacity: 0;}
}

@keyframes fadeIn {
  0% { scale: 0; opacity: 0;}
  35% { scale: 1.1; opacity: 1;}
  80% { scale: 1.1; color: var(--bg-secondary); opacity: 1}
  90% { scale: 1; color: var(--content-brand); opacity: 1}
  100% { scale: 1; color: var(--content-brand); opacity: 1}
}